In [1]:
5+5

10

In [3]:
5/2

2.5

In [4]:
import numpy as n
n.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [5]:
#THIS IS single line comment 
"""
this is multi line comment 
"""

'\nthis is multi line comment \n'

In [6]:
print('hello'[0])

h

In [7]:
print('hello'[0:4])

hell

In [8]:
print('manivarsha')
print("mani\"varsha")

manivarsha
mani"varsha

In [10]:
print("mani \"varsha\" \"reddy\"")

mani "varsha" "reddy"

In [12]:
myint=23
myfloat=4.56
myname='varsha'
print(myname)
mynewlist=[1,'chinni',2,"varsha"]
mynewdic={'1':1,'2':3,'4':2}

varsha

In [14]:
print(type(mynewdic),mynewdic)
print(type(mynewlist))

<class 'dict'> {'1': 1, '2': 3, '4': 2}
<class 'list'>

In [15]:
x=100
if x==100:
    print("gooooo..d")

gooooo..d

In [17]:
print(mynewlist)
for i in mynewlist:
    print("names are ...",i)
    
print("oooooR")   

for j in range(len(mynewlist)):
    print("names are ..",mynewlist[j])

[1, 'chinni', 2, 'varsha']
names are ... 1
names are ... chinni
names are ... 2
names are ... varsha
oooooR
names are .. 1
names are .. chinni
names are .. 2
names are .. varsha

In [1]:
def varsha(name):
    print("given name is ,,",name)
    print(name.replace('n','m'))
varsha('mani')

given name is ,, mani
mami

In [2]:
fo=open("text.txt","w")
print("file name is ..",fo.name)
print("file mode is..",fo.mode)
print("file close ..?..",fo.closed)

file name is .. text.txt
file mode is.. w
file close ..?.. False

In [6]:
fo=open("text.txt","w")
fo.write("this is text.txt")
#f=fo.read()
#print(f)
fo.close()

In [7]:
fo=open("text.txt","r")
fo.read()

'this is text.txt'

In [13]:
#  classes in python
class Cls:
    __name=''
    __age=''
    __email=''
    def sets(self,setname):
        self.__name=setname
    def gets(self):
        return self.__name
    def seta(self,setage):
        self.__age=setage
    def geta(self):
        return self.__age
 #  make use of class objects to access methods

o=Cls()
o.sets('varsha')
print(o.gets())
o.seta(20)
o.geta()

varsha

20

In [6]:
# OR MAKE USE OF CONSTRUCTOR TO INSTANTIATE VARIABLES

class Cls:
    __name=''
    __age=''
    __email=''
    
#    CONSTRUCTOR    
    def __init__(self,name,age):
        self.__name=name
        self.__age=age
    def sets(self,sname):
        self.__name=sname
    def gets(self):
        return self.__name
    def seta(self,sage):
        self.__age=sage
    def geta(self):
        return self.__age
    
#  FORMARING
    def converttoString(self):
        return '{} is of age {}'.format(self.__name,self.__age)
      

    
o=Cls('mani','20')
print(o.geta())
print(o.gets())
print(o.converttoString())

20
mani
mani is of age 20

In [20]:
#   INHERITANCE 

class Cls:
    __name=''
    __age=''
    __email=''
    def __init__(self,name,age):
        self.__name=name
        self.__age=age
    def sets(self,sname):
        self.__name=sname
    def gets(self):
        return self.__name
    def seta(self,sage):
        self.__age=sage
    def geta(self):
        return self.__age
    def converttoString(self):
        return '{} is of age {}'.format(self.__name,self.__age)
      

class Pls(Cls):
    __balance=''
    def __init__(self,name,age,balance):
        self.__name=name
        self.__age=age
        self.__balnce=balance
        super(Pls,self).__init__(name,age)
    def setb(self,sbalance):
        self.__balance=sbalance
    def getb(self):
        return self.__balance
    def converttoString(self):
        return '{} has balance of {} and she is of age {}'.format(self.__name,self.__balance,self.__age)
      

        
o=Pls('varsha',20,10000)
#o.sets('varsha')
#o.seta(20)
o.setb(200)
print(o.converttoString())

varsha has balance of 200 and she is of age 20